# Ambientes Virtuais
venv/
env/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# macOS (Importante para você que usa MacBook)
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDEs (PyCharm e VS Code)
.idea/
.vscode/
*.swp
*.swo

# Variáveis de Ambiente / Segredos
.env
API_KEY
